@{
    var userName = Context.Session.GetString("UserName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GastosControl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GastosControl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Control De Gastos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        var userRole = Context.Session.GetString("UserRole");
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(userName))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ExpenseType" asp-action="Index">Tipos de Gasto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="MonetaryFund" asp-action="Index">Fondos monetarios</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="UserBudget" asp-action="Index">Presupuesto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Expense" asp-action="Index">Gastos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Deposit" asp-action="Index">Deposito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Budget" asp-action="Index">Mis movimientos</a>
                        </li>
                        @if (userRole == "Admin")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movement" asp-action="Index">Movimientos de usuarios</a>
                        </li>
                            }
                        }
                    </ul>
                </div>
                @if (!string.IsNullOrEmpty(userName))
                {
                    <div class="text-end text-muted me-3">
                        Hola, @userName |
                        <a asp-controller="Auth" asp-action="Logout">Cerrar sesión</a>
                    </div>
                }
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GastosControl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
